section{
	background-color: #ccc;
	width: 400px;
	margin-bottom:10px;
	padding: 5px;
}

.text-decoration-1 {
	font-family: "Tahoma", "Arial", sans-serif;
}

/*
.text-decoration-1
span {
	text-decoration: underline overline line-through;
}*/

.text-decoration-1 .dashed {
	text-decoration: none;
	color: #0088cc;
	border-bottom: 1px dashed #0088cc;
}

.text-decoration-1 .dashed:hover {
	border-bottom: none;
}

.text-decoration-2 h4 {
	text-transform: uppercase;
}

.text-decoration-2 p {
	text-transform: lowercase;
}

.text-decoration-2 p {
	text-transform: capitalize;
}

/*Управляем пробелами: white-space*/
.text-decoration-2 .white-space {
	/*white-space: normal;*/
	/*white-space: nowrap;*/
	/*white-space: pre;*/
	white-space: pre-wrap;
}

/*Горизонтальное выравнивание текста: text-align
Вертикальное выравнивание: vertical-align
.text-decoration-3 p {
	text-align: left;
	text-align: right;
	text-align: center;
	text-align: justify;
}*/

/*Вертикальное выравнивание: vertical-align*/
.text-decoration-3 p {
	background-color: #99ca48;
	font-size: 40px;
}

.text-decoration-3 small {
	/*visibility: hidden;*/
	display: none;
}

.text-decoration-3 p:hover small {
	/*visibility: visible;*/
	display: inline-block;
}
.text-decoration-3 small {
	font-size: 15px;
	/*vertical-align: baseline;*/
	/*vertical-align: top;*/
	vertical-align: middle;
	/*vertical-align: bottom;*/
}

/*Верхние и нижние индексы на CSS*/
.index-top {
	vertical-align: sub;
}

.index-bottom {
	vertical-align: super;
}

/*line-height: управляем высотой строки*/
.text-decoration-4 p {
	background-color: #999;
	line-height: 30px;
}







