/*Множественный фон*/
.container {
	background-image: url("../img/logo-design.png"), url("../img/piter.jpg");
	background-repeat: space, repeat;
	background-position: center center, 0 0;
	background-size: 200px auto, auto;
	width: 1200px;
	height: 500px;
	margin: 10px auto;
}

/*
относительные значения (проценты)
абсолютные (пиксели).
*/

/*Теория цвета в цифрах*/

/*1) шестнадцатеричным код
0/9 a/f
красный, зеленый, синий
red      green    blue
#97      05       15

/*Свойство background-image*/

/*
selectors {
	background-color: #red green blue;
	background-image: url("");
	background-repeat: repeat;
	background-position: x-констант y-констант;

}
*/

/*
Свойство background-attachment
С помощью свойства background-attachment можно зафиксировать
фон на месте и он не будет перемещаться при прокручивании

background-attachment: scroll, fixed;
*/

/*
сокращенного свойства background
Обозначения:
[bc] — background-color
[bi] — background-image
[br] — background-repeat
[bp] — background-position
[ba] — background-attachment

background-position: right 30px bottom 60px; /* справа 30px, снизу 60px

background-size: width height, contain cover;

Если какой-то компонент не указан
то берется значение по умолчанию. Ниже примеры.

Границы фона
background-origin: padding-box, content-box, border-box;

Обрезка фона
background-clip: content-box;

*/
