body {
	background-color: #ccc;
	font: 17px/20px "PT Sans", sans-serif;
}

.share {
	background-color: #fff;
	display: inline-block;
	padding: 5px;
}

.share b {
	text-transform: uppercase;
	color: #ccc;
}

.social {
	background: #6d8fb3 url(../img/social.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
}

.share a:not(:last-child) {
	margin-right: 5px;
}

.social-fb {background-color: #526da3;background-position: -40px}
.social-tw {background-color: #73bfe6;background-position: -80px}

/* Paginator */
.paginator a,
.paginator span {
	background-color: #6666ff;
	display: inline-block;
	height: 40px;
	padding: 0 20px;
	line-height: 40px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.paginator .prev,
.paginator .next {
	background: #6666ff url(../img/arrows.png) no-repeat;
	text-indent: -1000px;
}

.paginator .next {
	background-position: 0 -40px;
}

.paginator .disabled {
	opacity: 0.3;
}

.paginator .current {
	background-color: #0000ff;
}

.paginator a:hover {
	background-color: #000080;
}

/* Contacta */
.contacts {
	background-color: #fff;
	display: inline-block;
	max-width: 263px;
	color: #999;

	padding: 20px;
}

.contacts .title {
	font: bold 20px/20px "PT Sans", sans-serif;
	margin-bottom: 10px;
}

.contacts .items {
	position: relative;
	padding-left: 30px;
	margin-bottom: 10px;
}

.contacts .items::before {
	background: url(../img/contacts.png) no-repeat;
	content: "";
	opacity: 0.5;
	position: absolute;
	top: 3px;
	left: 0;
	width: 22px;
	height: 32px;
}

.icon-phone a {
	color: #6e7979
}

.icon-mail a {
	color: #c34740;
}

.contacts .icon-location::before {background-position: 0 0;}
.contacts .icon-phone::before {background-position: -30px 0;}
.contacts .icon-mail::before {background-position: -60px 0;}

.contacts .icon-location:hover::before,
.contacts .icon-phone:hover::before,
.contacts .icon-mail:hover::before {
	opacity: 1;
}






























