.style-libery {
	width: 800px;
	margin-bottom: 20px;
	border: 1px solid #999;
}

input {
	margin-bottom: 5px;
	padding: 5px;
}

/* Google Fonts*/
.left-bar {
	font-size: 15px;
	font-family: 'Charmonman';
	font-weight: bold;
}

/*Local Fonts*/
/*@font-face {
	font-family: 'beer_moneyregular';
	src: url("../font/beer_money.woff2") format("woff2"),
			 url("../font/beer_money.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
*/

@font-face {
	font-family: 'charmonman';
	src: url('../font/charmonman/charmonman-bold-webfont.woff2') format('woff2'),
			 url('../font/charmonman/charmonman-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;

}

.left-bar {
	font-size: 15px;
	font-family: 'Charmonman';
	font-weight: bold;
}
