.style-libery {
	width: 800px;
	margin-bottom: 20px;
	border: 1px solid #999;
}

input {
	margin-bottom: 5px;
	padding: 5px;
}

/* Google Fonts*/
article {
	font-family: 'Charmonman', cursive;
	font-size: 20px;
	font-weight: bold;
}

/*Local Fonts*/
/*@font-face {
	font-family: 'beer_moneyregular';
	src: url("../font/beer_money.woff2") format("woff2"),
			 url("../font/beer_money.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
*/

article {
	font-family: 'beer_moneyregular', verdana;
	font-size: 40px;
}

fieldset {
	border: 1px solid #4A6F2DFF;
}

legend {
	background-color: #2FF;
	color: #000;
}
