/*
каскадные таблицы стилей
«CSS-правило»

селектор {
  свойство1: значение;
  свойство2: значение;
}

0)Запрещённый !important
1)CSS-правила в значении атрибута style самые приоритетные,
2)за ними идёт селектор с id,
3)затем селектор с классом,
4)затем селектор с именем тега.

Название «каскадные» появилось
из-за описанного механизма комбинирования стилей из разных CSS-правил.

Резюмируем. Одному и тому же элементу можно назначать несколько классов.
Благодаря механизму каскадности, CSS-правила этих классов будут комбинироваться,
а при конфликте свойств будет применяться механизм приоритетов.

Назначение нескольких классов одному элементу — очень гибкий и мощный приём в
арсенале веб-разработчика. Он позволяет упрощать и значительно сокращать CSS-код.

Представьте, что на макете очень много блоков с одинаковым фоном, цветом текста
и отступами. Вместо того, чтобы всё время повторять CSS-свойства для этих блоков, можно
создать один общий класс и использовать его в HTML-коде.
А если понадобится изменить внешний вид этих блоков,
то нужно будет исправить всего один класс в CSS.

Наследование
Другой важный механизм CSS — это наследование.
Он заключается в том, что часть стилей может передаваться
от родительского элемента к дочерним (вложенным в него).
*/

body{
	color: #fff;
}

header,
footer {
	background-color: #9676ac;
	margin: 0 auto;
	width: 80%;
}

header {
	height: 200px;
}

.left-bar {
	background: #99ca48;
	width: 40%;
	height: 500px;
	float: left;
}

.right-bar {
	background: #009a2a;
	width: 40%;
	height: 500px;
	float: right;
}
footer {
	margin-top: 10px;
	height: 200px;
	clear: both;
}
