body {
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
}

/*
Сетка — это взаимное расположение крупных блоков сайта.

Есть тонкость, связанная со строчными элементами. Если зафлоатить строчный элемент,
то он начинает вести себя как блочный, а именно: воспринимать размеры и отступы.
*/

/* Float*/
.main-block {
	background-color: #ccc;
	width: 400px;
	padding: 5px;
}

.main-block
.left-bar {
	background-color: #99ca48;
	width: 195px;
	float: left;
}
.main-block
.right-bar {
	background-color: #6666ff;
	width: 195px;
	float: right;
}
.main-block
.main-footer{
	background-color: #999;
	clear: both;
}

/*Свойство clear учит блочные элементы «видеть» зафлоаченные.*/
/*Борьба с выпаданием флоатов: распорки*/
/*специальное название класса — clearfix.*/

.container {
	background-color: #99ca48;
	margin-top: 20px;
	width: 400px;

	padding: 20px 0;
}

.container
.left-bar {
	background: #999;
	width: 195px;
	float: left;
}

.container
.right-bar {
	background: #999;
	width: 195px;
	float: right;
}

/*.clearfix {
	clear: both;
}*/

/*Назовём это решение псевдораспорками*/

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}


.main-block1 {
	background-color: #999999;
	margin-top: 20px;
	width: 400px;
}
/*
Блочно-строчные элементы могут выстраиваться друг за другом,
а если не хватает места, то они переносятся на следующую строку.
Поведение похоже на флоатные элементы, однако, есть существенное отличие.
При переносе на следующую строку блочно-строчные ведут себя намного логичней.
Высота строк у них рассчитывается по максимальному элементу с учётом отступов.
inline-block
*/
.main-block1
.block1,
.block2,
.block3 {
	background-color: #4c4c4c;
	display: inline-block;
	width: 100px;

	vertical-align: middle;
}

.block1 {min-height: 100px}
.block2 {min-height: 150px}
.block3 {min-height: 200px}


.main-block2 {
	background-color: #fecc66;
	margin-top: 20px;

	padding: 10px;
	font-size: 0;
}

.main-block2 .block {
	background-color: #4c4c4c;
	display: inline-block;
	vertical-align: top;
	width: 200px;
	min-height: 200px;

	font-size: 16px;
	margin-bottom: 10px;
	margin-right: 10px;
}








































