body {
	font-family: "PT sans", sans-serif;
	font-size: 16px;
	background-color: #999;
}

/*Относительное позиционирование*/
/*Относительно спозиционированный элемент остается в потоке документа*/
.main-navigation {
	background-color: #3b9800;
	display: flex;
	/*height: 70px;*/

	box-shadow: 1px 2px 8px 0px rgba(71,71,71,1);
}

.main-navigation .logo {
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	top: 25px;
	border-radius: 50px;

	box-shadow: 6px 7px 12px 0 rgba(71,71,71,1);
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-menu {
	display: flex;
	align-items: center;
}


.list-menu li {
	position: relative;
}

.list-menu .current::after,
.list-menu li:hover::after {
	background-color: #fff;
	content: "";
	position: absolute;
	height: 2px;
	left: 15px;
	bottom: 0;
	right: 15px;
}

.list-menu a {
	display: block;
	font-size: 16px;
	padding: 27px 15px;
	text-decoration: none;
	color: #fff;
}

.list-menu a:hover,
.list-menu a:focus {
	background-color: #36671b;
}

/*
Абсолютное позиционирование

1) Выпадают из потока документа. Место, которое они занимали
становится как бы пустым и его занимают соседние элементы.

2) Ширина по умолчанию зависит от содержимого (а не растягивается на всю
доступную ширину) Остаются на том же месте, где были, если не заданы
значения свойств top, left, right, bottom.

3) Абсолютное позиционирование и строчные элементы
Абсолютное позиционирование изменяет поведение не только
блочных элементов (ширина по умолчанию), но и строчных.

4) когда значение для left не задано, оно равно auto. То же верно
и для оставшихся трёх свойств. С помощью значения auto можно возвращать
«абсолютные» элементы на исходное положение

5) Такой элемент можно сместить из неявной точки отсчета с помощью
свойства margin

6) height: 100%;
*/


/*
Фиксированное позиционирование
posotiom: fixed;

1) Фиксированный элемент тоже выпадает из потока.

2) Фиксированный элемент привязывается к определенной
точке в окне браузера и остается на ней всегда,
даже при прокрутке страницы.

3) Фиксированный элемент можно позиционировать с помощью свойств
top, left, right, bottom, но точка отсчета всегда привязана к окну браузера.
*/

/*
z-index или кто кого перекроет

1) Cпомощью CSS-свойства z-index можно управлять тем, как
перекрываются блоки. Значением этого свойства может быть целое число.
Чем больше z-index, тем выше располагается блок.

2) Cвойство z-index работает для элементов, у которых position
задано как absolute, fixed и relative. Таким образом, «относительный»
элемент может перекрывать «абсолютный».
*/














