body {
	background-image: url(../img/piter.jpg);
	background-size: cover;
	margin: 0;
	font: normal 17px/20px "PT Sans", sans-serif;
}

/*.main-menu {
	background-color: #f5f5f5;
	width: 180px;
	padding: 0;
	margin: 0;
	list-style: none;
	border: 1px solid #ccc;
}

.main-menu a {
	display: block;
	padding: 8px 14px;
	color: #0088cc;
}*/

/*.main-menu {
	width: 180px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.main-menu > li {
	border: 1px solid #ccc;
	margin-bottom: -1px;
}

.main-menu a {
	display: block;
	padding: 8px 14px;
	color: #0088cc;

	text-decoration: none;
}

.main-menu a:hover {
	background-color: #ccc;
}

.main-menu >.active >a{
	background-color: #0088cc;
	color: #fff;
}

.main-menu ul {
	padding: 0;
	list-style: none;
	margin: 5px 0 5px 30px;
}

.main-menu li li a {
	padding: 2px 0;
	color: black;
}

.main-menu li li a:hover {
	background: none;
	text-decoration: underline;
}*/
/*
Пункт меню может находиться как минимум в трёх состояниях:

1) спокойное состояние;
2) наведён курсор;
3) активное состояние — открыта страница, которой соответствует этот пункт.
*/

/*Горизонтальное меню*/

/*.main-menu {
	background-color: #ccc;
	border: 1px solid #999;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-menu li {
	background-color: #ccc;
	display: inline-block;
}

.main-menu a {
	display: block;
	padding: 8px 10px;
	color: #fff;
	font-size: 17px;

	border-left: 1px solid #999;
	margin-left: -1px;
	text-decoration: none;
}

.main-menu .active a,
.main-menu a:hover {
	background-color: #999;
	text-decoration: underline;
}*/

/*Вертикальное меню с выпадающим подменю*/
.main-menu {
	background-color: #000;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;

	opacity: 0.5;
}

.main-menu ul {
	background-color: #000;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu > li {
	background-color: #000;
	display: inline-block;
	position: relative;

	border-left: 1px solid #fff;
	margin-left: -1px;
}


.main-menu .sub-menu {
	position: absolute;
	z-index: 1;
	display: none;
}

.main-menu > li:hover .sub-menu {
	display: block;
}

.main-menu a {
	display: block;
	padding: 8px 10px;

	text-decoration: none;
	font-size: 17px;
	color: #fff;
}

.main-menu a:hover {
	background-color: #999;
}

.sub-menu li {
	border: 1px solid #fff;
	margin-bottom: -1px;
}





























































