// Import
@import "narmalize.less";

/* Variables glabal*/
@nameVariables: #99ca48;
.class {
	background-color: @nameVariables;
}

/* Local variables */
section {
	@nameVariables: #ccc;
	background-color: @nameVariables;
}

/*Цветовые функции*/
spin(цвет, угол_поворота)
/*Противоположный цвет на колесе называется комплементарным*/
spin(#99ca49, -180)

/* Вложенные правила */
.navigation-list {
	margin: 0;
	padding: 0;
	list-style: none;
	.navigation-item {
			 margin-bottom: 15px;
	}
	a {
		text-decoration: none;
		color: #fff;
			&:hover {
			text-decoration: underline;
		}
	}
}

/* Цветовые функции */
@color-base: #99ca48;

.item {
	margin-bottom: 20px;
	a {
		display: block;
		color: #fff;
		&:hover {
			color: lighten( @color-base, 25%);
			color: darken( @color-base, 25%);
			color: saturate( @color-base, 25%);
			color: desaturate( @color-base, 25%);
		}
	}
}

/* Примеси */
@color-base: #99ca48;

.font-style-mixin() {
	font: normal 24/25 "PT Sans", sans-serif;
}

section {
	background-color: @color-base;
	.title {
		color: #99ca48;
		.font-style-mixin();
	}
}

/* Примесь с параметром */
@color-base: #99ca48;

.font-style-mixin(@font-weight;) {
	font: @font-weight 24/25 "PT Sans", sans-serif;
}

section {
	background-color: @color-base;
	.title {
		color: #99ca48;
		.font-style-mixin(bold);
	}
}

// Примесь с несколькими параметрами
.mixin (@padding; @margin){
	padding: @padding;
	margin: @margin;
}

.class-mixin {
	.mixin(20px; 10px);
}

// Значение параметра примеси по умолчанию
.mixin (@padding:10px;@margin:20px){
	padding: @padding;
	margin: @margin;
}

.class-mixin {
	.mixin();
}

// Расширения extend
