/*target ÷ context = result*/
/*1. Задавая гибкие padding для элемента, принимайте за контекст ширину контейнера элемента.*/
/*2. Задавая гибкое margin для элемента, принимай- те за контекст ширину самого элемента.*/

body {
	background-color: #ccc;
	font: normal 16px/20px "PT Sans", sans-serif;
	min-width: 320px;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

header {
	background-color: #7f7f7f;
	/*300px / 320px*/
	width: 93.75%;
	margin: 10px auto;

	color: #fff;
	font-size: 20px;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

main {
	/*300px / 320px*/
	width: 93.75%;
	margin: 0 auto;
	display: block;
}

.left,
.center,
.right {
	background-color: #7f7f7f;
	height: 50px;
	margin-bottom: 5px;
	text-align: center;
	color: #fff;
}

@media (min-width: 768px) {
	header {
		width: 750px;
	}

	main {
		width: 750px;
	}
}

@media (min-width: 1200px) {
	header {
		width: 1200px;
		height: 60px;
		line-height: 60px;
		color: #99ca48;
	}

	main {
		width: 1200px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.left,
	.center,
	.right {
		width: 390px;
	}
}
