/*Ширина и высота SVG*/
/*Если SVG просто вставить на страницу не указывая размеры,
он отобразится размером 300×150 пикселей:*/

/*Задавать размеры можно как атрибутами, так и в CSS:*/

/*Svg*/
svg {
	border: 2px solid #ccc;
	display: block;
	margin-bottom: 10px;
}

/*Заливки*/
/*.fill {
	fill: yellow;
}*/

/*Прозрачность заливки*/
.fill-opaci {
	fill-opacity: 0.7;
}

/*Обводки*/
.stroke {
	stroke: teal;
	stroke-width: 7px;
}

/*Концы линий*/
.stroke-line {
	stroke-linecap: square;
}

/*Вид сгибов*/
.shape-linejoin {
	stroke-linejoin: bevel;
}

/*зигзаг*/
/* Используемые цвета:
	teal, lightseagreen, gold
*/
svg {
	border: 1px solid #dddddd;
}

.leyer1 {
	stroke: teal;
	stroke-width: 80px;
	stroke-linecap: square;
}

.leyer2 {
	stroke: lightseagreen;
	stroke-width: 50px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.leyer3 {
	stroke: gold;
	stroke-width: 10;
	stroke-linejoin: bevel;
	fill: none;
}

/*Пунктирные линииs*/
.str-dash {
	fill: gold;
	stroke: #99ca48;
	stroke-width: 5;
	stroke-dasharray: 40 5 10 5;
}

/*Сдвиг обводки*/
.stroke-off {
	stroke-dasharray: 20 5;
	stroke-dashoffset: 3;
	fill: none;
	stroke: gold;
	stroke-width: 30;
}

/*Атрибут viewBox*/
/*
Это поведение можно изменить, задав размер области, которая будет
тянуться, с помощью свойства viewBox (его можно задать только атрибутом)
*/




































