/*Svg*/
svg {
	border: 2px solid #ccc;
}

/*Заливки*/
/*.fill {
	fill: yellow;
}*/

/*Прозрачность заливки*/
.fill-opaci {
	fill-opacity: 0.7;
}

/*Обводки*/
.stroke {
	stroke: teal;
	stroke-width: 7px;
}