img {
  max-width: 100%;
}
.main-header {
  background-color: green;
  width: 900px;
  height: 90px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main {
  background-color: #99ca48;
  width: 900px;
  color: #fff;
}
.main-footer {
  background-color: #000080;
  width: 900px;
  height: 90px;
  color: #fff;
}
