body {
  background-color: #2c3e50;
  font-family: "PT Sanse", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
}
img {
  max-width: 100%;
}
.main-header {
  background-color: #2c3e50;
  width: 320px;
  margin: 0 auto;
}
.main-header .main-logo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #273747;
}
.main-header .main-logo__inner {
  background-color: #273747;
  padding: 5px 10px;
}
.main-header .main-logo__link {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}
.main-navigation__title {
  background-color: #273747;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  height: 45px;
  margin: 0;
  font-size: 18px;
}
.main-navigation__title svg {
  width: 17px;
  height: 17px;
  margin-right: 15px;
  fill: #ffffff;
}
.navigation-list {
  background-color: #273747;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-list .navigation-item {
  margin-bottom: 3px;
}
.navigation-list .navigation-item:last-child {
  margin-bottom: 0;
}
.navigation-list .navigation-link {
  position: relative;
  background-color: #2c3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  height: 45px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}
.navigation-list svg {
  width: 17px;
  height: 17px;
  margin-right: 15px;
  fill: #ffffff;
}
.navigation-list .navigation-link__ex {
  background-color: #273747;
  position: absolute;
  right: -5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
@media (min-width: 360px) {
  .main-header {
    width: 360px;
  }
  .main-navigation__title {
    padding-left: 20px;
  }
  .navigation-list {
    padding: 0 20px;
  }
}
@media (min-width: 480px) {
  .main-header {
    width: 480px;
  }
  .main-navigation__title {
    padding-left: 20px;
  }
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navigation-list .navigation-item {
    width: 215px;
  }
  .navigation-list .navigation-link__ex {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-header {
    width: 1200px;
  }
  .main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-navigation .main-navigation__title {
    height: auto;
  }
  .main-navigation .navigation-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .main-navigation .navigation-list .navigation-item {
    margin-left: 3px;
    margin-top: 3px;
  }
  .uz-artist .navigation-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .uz-artist .navigation-list .navigation-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .uz-artist .navigation-list .navigation-link__ex {
    display: block;
  }
}
main {
  background-color: #273747;
  width: 320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .music-inner__modify {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
main .left-bar__inner--modify {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.music-title {
  background-color: #273747;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  height: 45px;
  margin: 0;
  font-size: 18px;
}
.music-title svg {
  width: 17px;
  height: 17px;
  margin-right: 15px;
  fill: #ffffff;
}
.music-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.music-list .music-item {
  margin-bottom: 3px;
}
.music-list .music-item:last-child {
  margin-bottom: 0;
}
.music-list .music-link {
  background-color: #2c3e50;
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
}
.music-list svg {
  margin-right: 10px;
  width: 27px;
  height: 27px;
  fill: #ffffff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.music-list .music-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: normal;
  margin: 0;
  text-transform: capitalize;
}
.music-list .author-name {
  font-size: 14px;
}
.music-list .music-name {
  font-size: 12px;
}
.music-list .xit {
  background-color: #273747;
  position: absolute;
  right: 5px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  text-transform: uppercase;
  font-size: 12px;
}
.uz-artist__title {
  background-color: #273747;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  height: 45px;
  margin: 0;
  font-size: 18px;
}
.uz-artist__title svg {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  fill: #ffffff;
}
.uz-artist .navigation-list {
  background-color: #273747;
  margin: 0;
  padding: 0;
  list-style: none;
}
.uz-artist .navigation-list .navigation-item {
  margin-bottom: 3px;
}
.uz-artist .navigation-list .navigation-item:last-child {
  margin-bottom: 0;
}
.uz-artist .navigation-list .navigation-link {
  position: relative;
  background-color: #2c3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  height: 45px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}
.uz-artist .navigation-list svg {
  width: 27px;
  height: 27px;
  margin-right: 10px;
  fill: #ffffff;
}
.uz-artist .navigation-list .navigation-link__ex {
  background-color: #273747;
  position: absolute;
  right: -5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.music-title {
  background-color: #273747;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  height: 45px;
  margin: 0;
  font-size: 18px;
}
.music-title svg {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  fill: #ffffff;
}
.author-content {
  background-color: #2c3e50;
  margin: 0 20px 3px 20px;
  padding: 5px;
}
.author-content img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.author-content__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.author-content__meta table {
  border-collapse: collapse;
}
.author-content__meta td {
  padding: 7px;
  border: 3px solid #213848;
}
.author-content-audio {
  padding: 7px;
  border: 3px solid #213848;
  border-top: none;
}
.paginator {
  margin-top: 20px;
  margin: 20px auto 0;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.paginator a,
.paginator span {
  background-color: #2c3e50;
  display: inline-block;
  height: 41px;
  padding: 0 20px;
  line-height: 41px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.paginator .prev,
.paginator .next {
  background-color: #2c3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.paginator .prev svg,
.paginator .next svg {
  width: 30px;
  height: 30px;
  fill: #ffffff;
}
.paginator .prev .paginator-text,
.paginator .next .paginator-text {
  display: none;
}
.paginator .disabled {
  opacity: 0.3;
}
.paginator .current {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.paginator a:hover {
  background-color: #3e536f;
}
@media (min-width: 360px) {
  main {
    width: 360px;
  }
  main .music-title,
  main .uz-artist__title {
    padding-left: 20px;
  }
  main .music-list,
  main .uz-artist .navigation-list {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 480px) {
  main {
    width: 480px;
  }
  main .music-title,
  main .uz-artist__title {
    padding-left: 20px;
  }
  main .music-list,
  main .uz-artist .navigation-list {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  main {
    width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .left-bar__inner {
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .left-bar__inner .uz-music,
  .left-bar__inner .ru-music,
  .left-bar__inner .euro-music,
  .left-bar__inner .turk-music {
    width: 400px;
  }
  .left-bar__inner .author-content__category {
    width: 760px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .left-bar__inner .author-content__meta {
    width: 552px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .left-bar__inner .author-content__meta table {
    width: 368px;
  }
  .left-bar__inner .author-content__img {
    width: 170px;
    margin-bottom: 0;
  }
  .left-bar__inner .author-content-audio {
    border-top: 3px solid #273747;
    width: 531px;
  }
  .music-inner {
    width: 400px;
  }
  .paginator {
    width: 350px;
  }
}
.main-footer {
  background-color: #273747;
  padding-top: 3px;
  width: 320px;
  margin: 0 auto;
}
.social {
  background-color: #2c3e50;
  padding-top: 10px;
  padding-bottom: 10px;
}
.social .social-title {
  background-color: #273747;
  font-size: 16px;
  width: 138px;
  height: 26px;
  margin: 0	auto 13px;
  text-align: center;
  line-height: 26px;
}
.social .social-list {
  width: 203px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.social .social-list a {
  background-color: #273747;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social .social-list svg {
  width: 30px;
  height: 30px;
  fill: #ffffff;
}
.email {
  background-color: #2c3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3px;
}
.email .email-block {
  background-color: #273747;
  width: 205px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.email .email-block b {
  font-size: 12px;
  margin-bottom: 3px;
}
.email .email-block a {
  background-color: #2c3e50;
  width: 180px;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
.email .email-block svg {
  width: 25px;
  height: 15px;
  fill: #ffffff;
}
.dmc-list {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dmc-list .dmc-item {
  margin-bottom: 5px;
}
.dmc-list .dmc-item:last-child {
  margin-bottom: 0;
}
.dmc-list .dmc-item a {
  text-decoration: none;
  color: #ffffff;
}
.dmc-list .dmc-item a:hover {
  text-decoration: underline;
}
.copyright {
  background-color: #2c3e50;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  border: 3px solid #273747;
  border-top: none;
}
@media (min-width: 360px) {
  .main-footer {
    width: 360px;
  }
  .main-footer__inner {
    padding: 0 20px;
  }
}
@media (min-width: 480px) {
  .main-footer {
    width: 480px;
  }
  .main-footer__inner {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .main-footer {
    width: 1200px;
  }
  .main-footer .main-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
  }
  .main-footer .social,
  .main-footer .email,
  .main-footer .dmc {
    width: 360px;
    height: auto;
  }
  .main-footer .social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main-footer .email {
    margin-top: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .main-footer .dmc {
    background-color: #2c3e50;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
