body {
	background-color: @bg-color;
	font-family: "PT Sanse", Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: @text-color;
}

img {
	max-width: 100%;
}

.main-header {
	background-color: @bg-color;
	width: 320px;
	margin: 0 auto;
	.main-logo {
		height: 50px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border: 3px solid @bg-inner-color;
	}
	.main-logo__inner {
		background-color: @bg-inner-color;
		padding: 5px 10px;
	}
	.main-logo__link {
		font-size: 20px;
		text-decoration: none;
		color: @text-color;
	}
}

.main-navigation__title {
	.mixin-navigation-title();
}

.navigation-list {
	.mixin-navigation-list();
}

@media (min-width: 360px) {
	.main-header {
		width: 360px;
	}
	.main-navigation__title {
		padding-left: 20px;
	}
	.navigation-list {
		padding: 0 20px;
	}
}

@media (min-width: 480px) {
	.main-header {
		width: 480px;
	}
	.main-navigation__title {
		padding-left: 20px;
	}
	.navigation-list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;

		padding-left: 20px;
		padding-right: 20px;
		.navigation-item {
			width: 215px;
		}
		.navigation-link__ex {
			display: none;
		}
	}
}

@media (min-width: 1200px) {
	.main-header {
		width: 1200px;
	}
	.main-navigation {
		display: flex;
		.main-navigation__title {
			height: auto;
		}
	}
	.main-navigation .navigation-list {
		justify-content: center;
		width: 100%;
		.navigation-item {
			margin-left: 3px;
			margin-top: 3px;
		}
	}
	.uz-artist .navigation-list {
		justify-content: space-between;
		.navigation-item {
			flex-grow: 1;
		}
		.navigation-link__ex {
			display: block;
		}
	}
}
