body {
	font-family: "PT Sanse", Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: @text-color;
}

img {
	max-width: 100%;
}

.main-header {
	background-color: @bg-color;
	width: 320px;
	height: 50px;
	margin: 0 auto;
	.main-logo {
		height: 50px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.main-logo__inner {
		background-color: @bg-inner-color;
		padding: 5px 10px;
	}
	a {
		text-decoration: none;
		color: @text-color;
	}
}

.main-navigation__title {
	background-color: @bg-inner-color;
	display: flex;
	padding: 12px 15px;
	margin: 0;
	font-size: 18px;
	svg {
		width: 17px;
		height: 17px;
		margin-right: 15px;
		fill: @text-color;
	}
}

.main-navigation__list {
	background-color: @bg-inner-color;
	margin: 0;
	padding: 0;
	list-style: none;
	.main-navigation__item {
		background-color: @bg-color;
		display: flex;
		margin-bottom: 3px;
		padding: 12px 15px;
	}
	svg {
		width: 17px;
		height: 17px;
		margin-right: 15px;
		fill: @text-color;
	}
}
