main {
	background-color: @bg-inner-color;
	width: 320px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	.music-inner__modify {
		order: 2;
	}
	.left-bar__inner--modify {
		order: 1;
	}
}

.music-title {
	.mixin-navigation-title();
}

.music-list {
	list-style: none;
	padding: 0;
	margin: 0;
	.music-item {
		margin-bottom: 3px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.music-link {
		background-color: @bg-color;
		position: relative;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 10px;
		padding-right: 45px;
		display: flex;
		align-items: center;
		text-decoration: none;
		color: #fff;
	}
	svg {
		margin-right: 10px;
		width: 27px;
		height: 27px;
		fill: @text-color;
		flex-shrink: 0;
	}
	.music-name {
		display: flex;
		flex-direction: column;
		font-weight: normal;
		margin: 0;
		text-transform: capitalize;
	}
	.author-name {
		font-size: 14px;
	}
	.music-name {
		font-size: 12px;
	}
	.xit {
		background-color: @bg-inner-color;
		position: absolute;
		right: 5px;
		width: 35px;
		height: 35px;
		text-align: center;
		line-height: 38px;
		border-radius: 50%;
		text-transform: uppercase;
		font-size: 12px;
	}
}

.uz-artist__title {
	.mixin-navigation-title(@left-right: 12px; @wh: 24px;);
}

.uz-artist .navigation-list {
	.mixin-navigation-list(@left-right: 10px; @wh: 27px;);
}

.music-title {
	.mixin-navigation-title(@left-right: 12px; @wh: 24px;);
}

.author-content {
	background-color: @bg-color;
	margin: 0 20px 3px 20px;
	padding: 5px;
	img {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

.author-content__meta {
	display: flex;
	flex-direction: column;
	table {
		border-collapse: collapse;
	}
	td {
		padding: 7px;
		border: 3px solid #213848;
	}
}

.author-content-audio {
	padding: 7px;
	border: 3px solid #213848;
	border-top: none;
}

.paginator {
	margin-top: 20px;
	margin: 20px auto 0;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
}

.paginator a,
.paginator span {
	background-color: @bg-color;
	display: inline-block;
	height: 41px;
	padding: 0 20px;
	line-height: 41px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.paginator .prev,
.paginator .next {
	background-color: @bg-color;
	display: flex;
	align-items: center;
	svg {
		width: 30px;
		height: 30px;
		fill: @text-color;

	}
	.paginator-text {
		display: none;
	}
}

.paginator .disabled {
	opacity: 0.3;
}

.paginator .current {
	border-left: 1px solid @text-color;
	border-right: 1px solid @text-color;
}

.paginator a:hover {
	background-color: #3e536f;
}

@media (min-width: 360px) {
	main {
		width: 360px;
		.music-title,
		.uz-artist__title {
			padding-left: 20px;
		}
		.music-list,
		.uz-artist .navigation-list {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

@media (min-width: 480px) {
	main {
		width: 480px;
		.music-title,
		.uz-artist__title {
			padding-left: 20px;
		}
		.music-list,
		.uz-artist .navigation-list {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}


@media (min-width: 1200px) {
	main {
		width: 1200px;
		flex-direction: row;
	}
	.left-bar__inner {
		width: 800px;
		display: flex;
		flex-direction: row;
		align-content: flex-start;
		flex-wrap: wrap;
		.uz-music,
		.ru-music,
		.euro-music,
		.turk-music {
			width: 400px;
		}
		.author-content__category {
			width: 760px;
			display: flex;
			justify-content: flex-start;
		}
		.author-content__meta {
			width: 552px;
			flex-direction: row;
			align-content: flex-start;
			flex-wrap: wrap;
			table {
				width: 368px;
			}
		}
		.author-content__img {
			width: 170px;
			margin-bottom: 0;
		}
		.author-content-audio {
			border-top: 3px solid @bg-inner-color;
			width: 531px;
		}
	}
	.music-inner {
		width: 400px;
	}
	.paginator {
		width: 350px;
	}
}
