.mixin {
  font: normal 16/20 "PT Sans", sans-serif;
}
.section {
  display: flex;
  flex-direction: row;
  font: normal 16/20 "PT Sans", sans-serif;
  color: #99ca48;
}

body {
  background-color: #fff;
}
article {
  color: #ccc;
}
