body {
	background-image:  url("../img/main-prime.jpg"), url(../img/bg-img-2.png), url("../img/bg-img.jpg");
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: center 60px, center 2500px;
	font-family: 'Myriad Pro', 'Pt Sans', sans-serif;
	font-size: 16px;
	color: #222;

	padding: 0;
	margin: 0;
}

.hidden {
	display: none;
}

.btn {
	display: inline-block;
	padding: 15px 35px;

	background-color: #f92349;
	font-size: 22px;
	color: #fff;
	text-decoration: none;
}

/*Sales header*/
.header-sales-inner {
	background: #a82346 url(../img/sales-bg.jpg) no-repeat center;
	background-size: contain;
}

.header-sales {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 1170px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

.header-sales p {
	margin: 0;

	font-size: 20px;
	color: #fff;
}

.header-sales button {
	background: #fff url(../img/close.png) no-repeat center;
	width: 33px;
	height: 33px;

	font-size: 16px;
	font-weight: bold;
	border-radius: 50%;
	outline: 0;
	border: none;
	cursor: pointer;
	flex-shrink: 0;
}
/*Sales header End*/

/*Header navigation*/
.site-info,
.main-navigation {
	background-color: rgb(255, 255, 255, 0.6);
}

.site-info-inner,
.main-navigation-inner {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.site-info-inner p{
	margin: 0;
	padding-top: 21px;
	padding-bottom: 21px;

	font-size: 15px;
	color: #222;
}

.email a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
} 

.site-email .email {
	margin: 70px;
}

.site-info-inner .info-enus {
	font-size: 16px;
	padding: 0;
}

.main-navigation-inner {
	border-top: 1px solid #222;
	padding: 18px 0;
}

.main-navigation .logo {
	font-size: 25px;
	text-decoration: none;
	color: #222;
}

.site-navigation {
	margin: 0;
	padding: 0;
	display: flex;

	list-style: none;
}

.site-navigation li {
	margin-right: 15px;
}

.site-navigation li:last-child {
	margin-right: 0;
}

.site-navigation a {
	text-decoration: none;
	color: #222;
}

.site-navigation a:hover {
	text-decoration: underline;
}
/*Header navigation End*/

/* Main block */
main {
	width: 1170px;
	margin: 0 auto;
}

.site-name {
	width: 650px;
	margin-top: 260px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.site-name h2 {
	margin: 0;

	font-size: 120px;
	line-height: 87px;
	font-weight: normal;
	color: #222;
}

.site-name .text-mark {
	display: block;
	color: #f9236f;
}

.site-name p {
	text-align: center;
	color: #494949;
}

.site-name .btn {
	margin-top: 50px;
	margin-bottom: 220px;
}

.main-inner {
	background-color: #fff;
}

.features-list {
	margin: 0;
	padding-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	list-style: none;
	text-align: center;
}

.features-list .icon {
	position: relative;
}

.features-list .icon:before {
	content: "";
	position: absolute;
	left: 20px;
	top: -115px;

	width: 120px;
	height: 120px;

	background: #fff url(../img/samalyot.png) no-repeat center;
	border-radius: 50%;
}

.features-list .icon-2:before {background-image: url(../img/time.png);}
.features-list .icon-3:before {background-image: url(../img/krug.png);}

.icon b {
	font-weight: normal;
	font-size: 30px;
}

.icon p {
	margin-top: 10px;
}

.shop	{
	padding-top: 100px;
}

.shop-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-shrink: 0;

	margin: 0;
	padding: 0;

	list-style: none;
}

.shop-list li {
	margin-bottom: 40px;
}

.shop-list h3 {
	font-size: 48px;
	line-height: 40px;
	color: #222;
}

.shop-list .text-mark {
	display: block;
	color: #f9236f;
}

.shop-now-left,
.shop-now-right {
	position: relative;
	width: 535px;
	height: 292px;
	background-color: #d7eff9;
	overflow: hidden;
}

.shop-list img {
	position: absolute;
	right: 0;
}

.shop-list h3 {
	margin: 0;
}

.shop-list h3,
.shop-list p,
.shop-list a {
	position: absolute;
	z-index: 2;
}

.shop-list h3 {
	top: 48px;
	left: 40px;
}

.shop-list p {
	top: 120px;
	left: 40px;
	right: 245px;
}

.shop-list a {
	bottom: 35px;
	left: 40px;
}

.featured-products {
	padding-top: 70px;
}

.featured-products > h2 {
	margin: 0;
	font-size: 25px;
	font-weight: normal;
}

.featured-products > p {
	margin-top: 0;
	margin-bottom: 20px;
}

.featured-products > h2,
.featured-products > p {
	text-align: center;
}

.product-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-shrink: 0;

	margin: 0;
	padding: 0;

	list-style: none;
}

.product-item {
	display: flex;
	flex-direction: column;

	width: 246px;
	margin-bottom: 40px;
}

.product-item img {
	order: 1;
}

.product-item a {
	text-decoration: none;
	color: #000;
}

.product-item h3 {
	order: 2;

	text-align: center;
}

.product-item .brand-name {
	display: block;

	font-weight: normal;
}

.product-item p {
	order: 3;
	margin: 0;
	text-align: center;
}

.product-item ins {
	font-size: 18px;
	font-weight: bold;
}

.pagination {
	width: 65px;
	margin: 0 auto;
}

.pagination .prew,
.pagination .next {
	background: #f92357 url(../img/prew.png) no-repeat center;
	width: 30px;
	height: 30px;
	border-radius: 50%;

	outline: none;
	border: none;
	cursor: pointer;
}

.pagination .next { background: #ccc url(../img/next.png) no-repeat center;}


.latest-news {
	margin-bottom: 80px;
	padding-top: 72px;
}

.latest-news h2 {
	margin: 0;

	font-size: 25px;
	font-weight: normal;
	text-align: center;
}

.latest-news > p {
	margin-top: 0;
	margin-bottom: 40px;

	text-align: center;
}

.latest-news-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	list-style: none;
}

.latest-news-item {
	display: flex;
	flex-direction: column;

	width: 361px;
	background-color: #fff;
}

.latest-news-item p {
	margin: 0;
}

.latest-news-img {
	order: 1;
}

.latest-news-img img {
	vertical-align: bottom;
}

.latest-news-title {
	order: 2;

	margin: 0;
	padding: 35px 25px 25px;
}

.latest-news-title a {
	font-size: 18px;
	color: #515151;
	text-decoration: none;
}

.latest-news-title .headline {
	display: block;

	line-height: 22px;
	font-size: 14px;
	font-weight: normal;
	color: #a8a8a8;
}

.latest-news-content {
	order: 3;
	padding: 0 25px 25px;

	font-size: 14px;
	color: #494949;
}

.latest-news-footer {
	position: relative;
	padding: 0 25px 25px;
	order: 4;
}

.latest-news-footer .btn {
	padding: 8px 15px;
	font-size: 13px;
}

.latest-news-footer .like,
.latest-news-footer .commet {
	position: absolute;
	right: 25px;
	display: inline-block;
	width: 30px;
	height: 30px;


	background: url(../img/commetpng.png) no-repeat center;
}

.latest-news-footer .like {
	right: 55px;

	border-right: 1px solid #ccc;
	background: url(../img/heart.png) no-repeat center;
}


.brands-inner {
	padding: 50px 20px;
	margin-bottom: 67px;
}

.our-brands-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 80px;

	border-bottom: 1px solid #ccc;
}

.brands-list-left,
.brands-list-right {
	width: 356px;
}

.our-brands-inner h3 {
	margin-top: 0;

	text-align: center;
	font-size: 26px;
}

.brands-list {
	padding: 0;
	list-style: none;
}

.brands-item {
	display: flex;

	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.brands-item:last-child {
	border-bottom: none;
}

.brands-desc-right {
	order: 1;

	margin-left: 30px;
}

.brands-item-title {
	margin: 0;
	font-size: 18px;
}

.brands-item-title .brand-name {
	display: block;

	font-weight: normal;
	color: #939393;
}

.brands-sales del {
	color: #6b6b6b;
}

.brands-sales ins {
	color: #f92349;
	font-size: 18px;
	font-weight: bold;
}

.folower-fashion h2 {
	margin: 0;
	font-size: 26px;
	text-align: center;
}

.folower-fashion p {
	margin-top: 0;
	margin-bottom: 40px;
	text-align: center;
}

.folower-fashion form {
	display: flex;
	justify-content: center;
}

.folower-fashion .btn {
	padding: 12px 30px;

	font-size: 13px;
	outline: none;
}

.folower-fashion input[type="text"] {
	width: 525px;
	padding: 0 20px;
	outline: none;
}

.brand .brand-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;

	background-color: #eee;
	list-style: none;
}

/* Main block End*/

/* Footer*/
.main-footer {
	margin: 0;
	margin-top: 67px;
}

.main-footer {
	background: #da263e url(../img/test);

	color: #fff;
}

.main-footer h2,
.main-footer b {
	font-size: 20px;
	margin: 0;
}

.main-footer-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-shrink: 0;

	width: 1170px;
	margin: 0 auto;
	padding: 80px 0 150px;
}

.about-cmpany {
	width: 315px;
}

.phone a,
.mail a {
	color: #fff;
	text-decoration: none;
}

.phone a:hover,
.mail a:hover {
	text-decoration: underline;
}

.location,
.phone,
.mail {
	position: relative;
	padding-left: 25px;
}

.location::before,
.phone::before,
.mail::before {
	content: "";

	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;

	background: url(../img/location.png) no-repeat center;
}

.phone::before {background-image: url(../img/phone.png);}
.mail::before {background-image: url(../img/mail.png);}


.product-list-footer,
.my-account-list,
.follow-us-left,
.follow-us-right {
	padding: 0;
	list-style: none;
}

.product-list-footer a,
.my-account-list a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	margin-bottom: 15px;
}

.my-account-list a:hover,
.product-list-footer a:hover {
	text-decoration: underline;
}

.follow-us {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	flex-wrap: wrap;
}

.footer-inner-right {
	display: flex;
	width: 300px;
}

.follow-us-right,
.follow-us-left {
	padding: 0;
	margin: 0;
	list-style: none;
}
.follow-us-right .social,
.follow-us-left .social {
	padding-left: 30px;
	margin-bottom: 10px;
	position: relative;
}

.follow-us .social::before {
	content: "";

	position: absolute;
	left: 0;

	width: 25px;
	height: 25px;
	background: url(../img/social.png) no-repeat 0 0;
}

.follow-us .social-pinterest::before {background-position: -26px 0;}
.follow-us .social-vimeo::before {background-position: -50px 0;}
.follow-us .social-facebook::before {background-position: -75px 0;}
.follow-us .social-twitter::before {background-position: -100px 0;}
.follow-us .social-rss::before {background-position: -125px 0;}

.social a {
	text-decoration: none;
	color: #fff;
}

.social a:hover {
	text-decoration: underline;
}

.follow-us-right {
	margin-left: 30px;
}

.follow-us h2 {
	width: 100%;
	margin-bottom: 16px;
}

.payment-methods {
	flex-grow: 1;
}

.payment-methods h2 {
	margin: 0;
	margin-top: 20px;
}
.payment-methods-list {
	display: flex;

	padding: 0;
	margin: 0;
	margin-top: 10px;
}

.payment-methods-list li {
	list-style: none;
	margin-right: 10px;
}

.footer-navigation {
	width: 100%;
}

.footer-navigation-list {
	display: flex;
	justify-content: center;

	padding: 0;
	list-style: none;
}

.footer-navigation-list li {
	margin-left: 10px;
}

.footer-navigation-list a {
	color: #fff;
	text-decoration: none;
}

.footer-navigation-list a:hover {
	text-decoration: underline;
}


#b92534




